In [34]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import gutenberg
from nltk.text import Text
from nltk import word_tokenize
import string
from urllib import request

In [35]:
nltk.download('gutenberg')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package gutenberg to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [36]:
url = "https://www.gutenberg.org/files/37959/37959-0.txt"
response = request.urlopen(url)
raw = response.read().decode('utf8')
tokens = word_tokenize(raw)
text = Text(tokens)

In [49]:
def con_text(word,text):
    a = text.concordance_list(word, lines = 5, width = 40)
    return ["".join(a[i].line for i in range(len(a)))]

In [50]:
my_dict ={"words": ["dog", "cat", "horse", "lion", "tiger", "elephant","sheep", "donkey","cow","rabbit",
          "sparrow", "cuckoo", "crow","eagle","vulture","parrot","chicken","pigeon","owl","ostrich"]
          }

In [51]:
df = pd.DataFrame.from_dict(my_dict)

In [52]:
df['corpus'] = df.words.apply(lambda x: con_text(x,text))

In [53]:
stopwords = nltk.corpus.stopwords.words('english')

In [54]:
#defining the function to remove punctuation
def preprocess(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    punctuationfree="".join([i for i in punctuationfree if i not in "0123456789"])
    lower_case = punctuationfree.lower()
    no_stopwords = " ".join([i for i in lower_case.split() if i not in stopwords])
    tokenized = word_tokenize(no_stopwords)
    return tokenized

In [55]:
df["tokenized"] = df.corpus.apply(lambda x: preprocess(x))
df["corpus_processed"] = df.tokenized.apply(lambda z:' '.join(map(str, z)))

In [56]:
df

,words,corpus,tokenized,corpus_processed
0,dog,"[83 Animals of the Dog Kind , 84 The Wolild Do...","[animals, dog, kind, ,, wolild, dogs, ,, dog, ...","animals dog kind , wolild dogs , dog , dog 's ..."
1,cat,"[43 Animals of the Cat Kind , 43 The Lio0 The ...","[animals, cat, kind, ,, lio, common, wild, cat...","animals cat kind , lio common wild cat , domes..."
2,horse,"[OFED ANIMALS The Horse , 162 The Arabia 162 T...","[ofed, animals, horse, ,, arabia, arabian, hor...","ofed animals horse , arabia arabian horse , ho..."
3,lion,"[Cat Kind , 43 The Lion , 44 The Lion 's The L...","[cat, kind, ,, lion, ,, lion, 's, lion, ,, lio...","cat kind , lion , lion 's lion , lion 's chara..."
4,tiger,[[ Illustration : Tiger Hunting ] PREFACunitie...,"[[, illustration, :, tiger, hunting, ], prefac...",[ illustration : tiger hunting ] prefacunities...
5,elephant,"[ ORDER VIII THE ELEPHANT The Elephant , HE EL...","[order, viii, elephant, elephant, ,, elephant,...","order viii elephant elephant , elephant elepha..."
6,sheep,"[aining , 112 The Sheep Dog , 114 The Shep Dog...","[aining, ,, sheep, dog, ,, shep, dog, ,, sheep...","aining , sheep dog , shep dog , sheep dog 's s..."
7,donkey,"[self a very fine donkey , which was a reootpr...","[self, fine, donkey, ,, reootprints, donkey, g...","self fine donkey , reootprints donkey garden w..."
8,cow,"[ MANATIDÆ The Sea Cow , 162 ORDER VII Hll , T...","[manatidæ, sea, cow, ,, order, vii, hll, ,, ox...","manatidæ sea cow , order vii hll , ox , cow , ..."
9,rabbit,"[, 244 The Common Rabbit , 245 ORDER XI Tey re...","[,, common, rabbit, ,, order, xi, tey, resembl...",", common rabbit , order xi tey resembles rabbi..."
10,sparrow,[ robust English sparrow . The sparrow dh spar...,"[robust, english, sparrow, ., sparrow, dh, spa...",robust english sparrow . sparrow dh sparrow . ...
11,cuckoo,"[ryneck , 284 The Cuckoo , 284 The CuckooCucko...","[ryneck, ,, cuckoo, ,, cuckoocuckoo, ,, cuckoo...","ryneck , cuckoo , cuckoocuckoo , cuckoo hedge-..."
12,crow,"[, 270 The Carrion Crow , 270 The Jackdawetc. ...","[,, carrion, crow, ,, jackdawetc, ., ,, crow, ...",", carrion crow , jackdawetc . , crow flies , e..."
13,eagle,"[f Prey , 304 The Eagle , 305 Eagle Shoo The E...","[f, prey, ,, eagle, ,, eagle, shoo, eagle, ,, ...","f prey , eagle , eagle shoo eagle , eagle shoo..."
14,vulture,[nsidered as the vulture of the quadrupe woods...,"[nsidered, vulture, quadrupe, woods, ., ``, vu...",nsidered vulture quadrupe woods . `` vulture ....
15,parrot,"[elligence of the Parrot , 290 Famous Pars , 2...","[elligence, parrot, ,, famous, pars, ,, grey, ...","elligence parrot , famous pars , grey parrot ,..."
16,chicken,"[Mother Carey 's Chicken , 322 Catching , eat...","[mother, carey, 's, chicken, ,, catching, ,, e...","mother carey 's chicken , catching , eat eggs ..."
17,pigeon,"[s . Resembling a pigeon in size , its he . Th...","[., resembling, pigeon, size, ,, ., dove-cote,...",". resembling pigeon size , . dove-cote pigeon ..."
18,owl,"[ow-Hawk , 312 The Owl , 313 ORDER VIII trel a...","[ow-hawk, ,, owl, ,, order, viii, trel, barn, ...","ow-hawk , owl , order viii trel barn owl . sup..."
19,ostrich,"[327 ORDER X The Ostrich , 328 The Ostritrich ...","[order, x, ostrich, ,, ostritrich, ,, ostrich,...","order x ostrich , ostritrich , ostrich young ,..."

In [57]:
flattened = []
for sublist in df.tokenized.values:
    for val in sublist:
        flattened.append(val)
print(flattened)

['animals', 'dog', 'kind', ',', 'wolild', 'dogs', ',', 'dog', ',', 'dog', "'s", 'u', 'dog', ',', 'dog', "'s", 'understanding', 'standing', ',', 'dog', "'s", 'sense', 'local', 'locality', ',', 'dog', 'friendships', 'e', 'animals', 'cat', 'kind', ',', 'lio', 'common', 'wild', 'cat', ',', 'domestic', ',', 'domestic', 'cat', ',', 'cat', 'superstidomestic', 'cat', ',', 'cat', 'superstitions', ',', 'stitions', ',', 'cat', 'hunter', ',', 'ofed', 'animals', 'horse', ',', 'arabia', 'arabian', 'horse', ',', 'horse', 'horse', ',', 'horse', "'s", 'affection', ',', 'domestic', 'horse', ',', 'structe', 'structure', 'horse', ',', 'horse', 'cat', 'kind', ',', 'lion', ',', 'lion', "'s", 'lion', ',', 'lion', "'s", 'character', ',', 'f', 'valour', ',', 'lion', "'s", 'strength', ',', 'strength', ',', 'lion', "'s", 'affection', ',', 'ffection', ',', 'lion', "'s", 'docility', ',', '[', 'illustration', ':', 'tiger', 'hunting', ']', 'prefacunities', ',', 'tiger', ',', 'tiger', "'", 'e', 'tiger', ',', 'tiger', "'s", 'ravages', ',', ',', 'clouded', 'tiger', ',', 'serval', 'ferocity', 'tiger', '``', ';', 'finding', 'order', 'viii', 'elephant', 'elephant', ',', 'elephant', 'elephant', ',', 'wild', ',', 'wild', 'elephant', ',', 'elephant', 'elephant', ',', 'elephant', 'herds', ',', 'eleant', 'herds', ',', 'elephant', 'friendships', ',', 'aining', ',', 'sheep', 'dog', ',', 'shep', 'dog', ',', 'sheep', 'dog', "'s", 'sagacity', 'gacity', ',', 'sheep', 'dog', "'s", 'fidelity', 'azelle', ',', 'sheep', 'goat', ',', 'elligence', 'sheep', ',', 'animals', 'self', 'fine', 'donkey', ',', 'reootprints', 'donkey', 'garden', 'wanctly', 'saw', 'master', 'donkey', ',', 'reared', 'manatidæ', 'sea', 'cow', ',', 'order', 'vii', 'hll', ',', 'ox', ',', 'cow', ',', 'bull', ',', 'ox', ',', 'cow', ',', 'pride', 'pride', 'cow', ',', 'bison', ',', 'ver', 'legs', 'cow', 'horse', ',', 'common', 'rabbit', ',', 'order', 'xi', 'tey', 'resembles', 'rabbit', 'size', 'geneike', 'rabbit', ',', 'hind', 'legs', 'e', 'common', 'rabbit', 'best', 'kion', '.', 'common', 'rabbit', '.', 'common', 'rab', 'robust', 'english', 'sparrow', '.', 'sparrow', 'dh', 'sparrow', '.', 'sparrow', 'declined', 'giv', '``', 'leaving', 'sparrow', 'perish', 'thrious', 'scene', '.', 'sparrow', 'hawk', 'alighted', 'iriumph', '.', '``', 'sparrow', 'hawk', '.', 'spar', 'ryneck', ',', 'cuckoo', ',', 'cuckoocuckoo', ',', 'cuckoo', 'hedge-spparrow', ',', 'cuckoo', 'thrush', ',', 'odpecker', 'cuckoo', '.', 'feeds', 'ca', 'follow', '.', 'cuckoo', '.', 'cuckoo', ',', 'carrion', 'crow', ',', 'jackdawetc', '.', ',', 'crow', 'flies', ',', 'exceeded', 'ook', ';', 'carrion', 'crow', ';', 'jackdaw', ';', ',', 'caw', 'crow', '.', '``', 'magazesemblance', 'crow', 'domestic', 'c', 'f', 'prey', ',', 'eagle', ',', 'eagle', 'shoo', 'eagle', ',', 'eagle', 'shooting', ',', 'tthe', 'white-headed', 'eagle', ',', 'vulturttack', 'disabled', 'eagle', ';', 'bird', 'unablsome', 'account', 'eagle', 'queen', ',', 'nsidered', 'vulture', 'quadrupe', 'woods', '.', '``', 'vulture', '.', 'vultures', '.', 'griffin', 'vulture', 'europe', ',', 'tur', ',', 'egyptian', 'vulture', 'nile', 'cour', ',', 'american', 'vulture', ',', 'best', 'elligence', 'parrot', ',', 'famous', 'pars', ',', 'grey', 'parrot', ',', 'parrot', 'talrey', 'parrot', ',', 'parrot', 'talk', ',', 'ordered', 'true', 'parrot', 'crest', ';', 'otoo', ',', 'ground', 'parrot', ',', 'macaw', ',', 'th', 'mother', 'carey', "'s", 'chicken', ',', 'catching', ',', 'eat', 'eggs', 'chicken', ',', 'drink', 'tea', 'dead', 'chicken', 'disapnied', 'chicken', ',', 'sole', 'survmother', 'carey', "'s", 'chicken', '.', 'stormy', 'pe', '.', 'resembling', 'pigeon', 'size', ',', '.', 'dove-cote', 'pigeon', ';', 'swallow', ';', '.', 'passenger', 'pigeon', 'america', ',', 'theca', ',', 'nicobar', 'pigeon', 'philippinhe', 'great-crowned', 'pigeon', 'new', 'guinea', 'ow-hawk', ',', 'owl', ',', 'order', 'viii', 'trel', 'barn', 'owl', '.', 'superstition', 'tter', 'enemy', 'owl', '.', 'sooner', 'h', 'mile', '.', 'owl', 'length', ',', 'forcepredations', 'owl', 'becomes', 'hi', 'order', 'x', 'ostrich', ',', 'ostritrich', ',', 'ostrich', 'young', ',', 'ruthiones', ':', 'ostrich', ',', 'emu', ',', 'etcer', 'includes', 'ostrich', ',', 'rhea', ',', 'th', 'emus', '.', 'ostrich', 'belongs', 'afri']

In [58]:
Vocab=[]
for item in flattened:
    if not item in Vocab:
        Vocab.append(item)
len(Vocab)

220