In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import gutenberg
from nltk.text import Text
from nltk import word_tokenize
import string
from urllib import request

In [2]:
nltk.download('gutenberg')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package gutenberg to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
url = "https://www.gutenberg.org/files/37959/37959-0.txt"
response = request.urlopen(url)
raw = response.read().decode('utf8')
tokens = word_tokenize(raw)
text = Text(tokens)

In [4]:
def con_text(word,text):
    a = text.concordance_list(word, lines = 1, width = 79)
    return a[0].line

In [5]:
my_dict ={"input_words": ["dog", "cat", "horse", "lion", "tiger", "elephant","sheep", "donkey","cow","rabbit"]+["sparrow", "cuckoo", "crow","eagle","vulture","parrot","chicken","pigeon","owl","ostrich"]
          }

In [6]:
df = pd.DataFrame.from_dict(my_dict)

In [7]:
df['input_con'] = df.input_words.apply(lambda x: con_text(x,text))

In [8]:
stopwords = nltk.corpus.stopwords.words('english')

In [9]:
#defining the function to remove punctuation
def preprocess(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    lower_case = punctuationfree.lower()
    no_stopwords = " ".join([i for i in lower_case.split() if i not in stopwords])
    return no_stopwords

In [10]:
df["input_con_pro"] = df.input_con.apply(lambda x: preprocess(x))

In [11]:
df

,input_words,input_con,input_con_pro
0,dog,"2 A Narrow Escape , 83 Animals of the Dog Kind...",2 narrow escape 83 animals dog kind 84 wolf 84...
1,cat,"IA The Fissipedia , 43 Animals of the Cat Kind...",ia fissipedia 43 animals cat kind 43 lion 44 l...
2,horse,"w , 162 ORDER VII HOOFED ANIMALS The Horse , 1...",w 162 order vii hoofed animals horse 162 arabi...
3,lion,"43 Animals of the Cat Kind , 43 The Lion , 44...",43 animals cat kind 43 lion 44 lion character ...
4,tiger,"ORFIELDS , LONDON . [ Illustration : Tiger Hun...",orfields london illustration tiger hunting pre...
5,elephant,"als and Music , 218 ORDER VIII THE ELEPHANT Th...",als music 218 order viii elephant elephant 219...
6,sheep,"ewfoundland under Training , 112 The Sheep Dog...",ewfoundland training 112 sheep dog 114 sheep d...
7,donkey,"ex coast , I had myself a very fine donkey , w...",ex coast fine donkey remarkably docile
8,cow,"ampus , 161 ORDER VI MANATIDÆ The Sea Cow , 16...",ampus 161 order vi manatidæ sea cow 162 order ...
9,rabbit,"e , 243 Tame Hares , 244 The Common Rabbit , 2...",e 243 tame hares 244 common rabbit 245 order x...
10,sparrow,und it occupied by a robust English sparrow . ...,und occupied robust english sparrow sparrow de...
11,cuckoo,"dpecker , 284 The Wryneck , 284 The Cuckoo , 2...",dpecker 284 wryneck 284 cuckoo 284 cuckoo hedg...
12,crow,"Dog , 269 The Rook , 270 The Carrion Crow , 27...",dog 269 rook 270 carrion crow 270 jackdaw 271 ...
13,eagle,"04 ORDER VII Birds of Prey , 304 The Eagle , 3...",04 order vii birds prey 304 eagle 305 eagle sh...
14,vulture,The jackal may be considered as the vulture of...,jackal may considered vulture quadruped kind pu
15,parrot,"rrots , 290 The Intelligence of the Parrot , 2...",rrots 290 intelligence parrot 290 famous parro...
16,chicken,"Tame Sea-Gull , 321 Mother Carey 's Chicken , ...",tame seagull 321 mother carey chicken 322 catc...
17,pigeon,South-American birds . Resembling a pigeon in ...,southamerican birds resembling pigeon size hea...
18,owl,"lcon , 311 The Sparrow-Hawk , 312 The Owl , 31...",lcon 311 sparrowhawk 312 owl 313 order viii wa...
19,ostrich,", 326 The Puffin , 327 ORDER X The Ostrich , ...",326 puffin 327 order x ostrich 328 ostrich you...

In [24]:
 corpus = df['input_con_pro'].to_list()

In [19]:
from nltk.tokenize import word_tokenize
tokenized_sents = [word_tokenize(i) for i in df['input_con_pro']]
print(tokenized_sents)

[['2', 'narrow', 'escape', '83', 'animals', 'dog', 'kind', '84', 'wolf', '84', 'fox', '85'], ['ia', 'fissipedia', '43', 'animals', 'cat', 'kind', '43', 'lion', '44', 'lion', 'c'], ['w', '162', 'order', 'vii', 'hoofed', 'animals', 'horse', '162', 'arabian', 'horse', '163', 'ho'], ['43', 'animals', 'cat', 'kind', '43', 'lion', '44', 'lion', 'character', '44', 'atti'], ['orfields', 'london', 'illustration', 'tiger', 'hunting', 'preface', 'illustrations', 'ar'], ['als', 'music', '218', 'order', 'viii', 'elephant', 'elephant', '219', 'wild', 'elepha'], ['ewfoundland', 'training', '112', 'sheep', 'dog', '114', 'sheep', 'dog', 'sagacity'], ['ex', 'coast', 'fine', 'donkey', 'remarkably', 'docile'], ['ampus', '161', 'order', 'vi', 'manatidæ', 'sea', 'cow', '162', 'order', 'vii', 'hoofed', 'animals', 'ho'], ['e', '243', 'tame', 'hares', '244', 'common', 'rabbit', '245', 'order', 'xi', 'toothless', 'animals', 'th'], ['und', 'occupied', 'robust', 'english', 'sparrow', 'sparrow', 'declined', 'give'], ['dpecker', '284', 'wryneck', '284', 'cuckoo', '284', 'cuckoo', 'hedgespar'], ['dog', '269', 'rook', '270', 'carrion', 'crow', '270', 'jackdaw', '271', 'chough'], ['04', 'order', 'vii', 'birds', 'prey', '304', 'eagle', '305', 'eagle', 'shooting', '305', 'white'], ['jackal', 'may', 'considered', 'vulture', 'quadruped', 'kind', 'pu'], ['rrots', '290', 'intelligence', 'parrot', '290', 'famous', 'parrots', '291', 'grey'], ['tame', 'seagull', '321', 'mother', 'carey', 'chicken', '322', 'catching', 'stormy', 'petrel'], ['southamerican', 'birds', 'resembling', 'pigeon', 'size', 'head', 'sufficiently'], ['lcon', '311', 'sparrowhawk', '312', 'owl', '313', 'order', 'viii', 'wading', 'birds', '314'], ['326', 'puffin', '327', 'order', 'x', 'ostrich', '328', 'ostrich', 'young', '3']]

In [20]:
flattened = []
for sublist in tokenized_sents:
    for val in sublist:
        flattened.append(val)
print(flattened)

['2', 'narrow', 'escape', '83', 'animals', 'dog', 'kind', '84', 'wolf', '84', 'fox', '85', 'ia', 'fissipedia', '43', 'animals', 'cat', 'kind', '43', 'lion', '44', 'lion', 'c', 'w', '162', 'order', 'vii', 'hoofed', 'animals', 'horse', '162', 'arabian', 'horse', '163', 'ho', '43', 'animals', 'cat', 'kind', '43', 'lion', '44', 'lion', 'character', '44', 'atti', 'orfields', 'london', 'illustration', 'tiger', 'hunting', 'preface', 'illustrations', 'ar', 'als', 'music', '218', 'order', 'viii', 'elephant', 'elephant', '219', 'wild', 'elepha', 'ewfoundland', 'training', '112', 'sheep', 'dog', '114', 'sheep', 'dog', 'sagacity', 'ex', 'coast', 'fine', 'donkey', 'remarkably', 'docile', 'ampus', '161', 'order', 'vi', 'manatidæ', 'sea', 'cow', '162', 'order', 'vii', 'hoofed', 'animals', 'ho', 'e', '243', 'tame', 'hares', '244', 'common', 'rabbit', '245', 'order', 'xi', 'toothless', 'animals', 'th', 'und', 'occupied', 'robust', 'english', 'sparrow', 'sparrow', 'declined', 'give', 'dpecker', '284', 'wryneck', '284', 'cuckoo', '284', 'cuckoo', 'hedgespar', 'dog', '269', 'rook', '270', 'carrion', 'crow', '270', 'jackdaw', '271', 'chough', '04', 'order', 'vii', 'birds', 'prey', '304', 'eagle', '305', 'eagle', 'shooting', '305', 'white', 'jackal', 'may', 'considered', 'vulture', 'quadruped', 'kind', 'pu', 'rrots', '290', 'intelligence', 'parrot', '290', 'famous', 'parrots', '291', 'grey', 'tame', 'seagull', '321', 'mother', 'carey', 'chicken', '322', 'catching', 'stormy', 'petrel', 'southamerican', 'birds', 'resembling', 'pigeon', 'size', 'head', 'sufficiently', 'lcon', '311', 'sparrowhawk', '312', 'owl', '313', 'order', 'viii', 'wading', 'birds', '314', '326', 'puffin', '327', 'order', 'x', 'ostrich', '328', 'ostrich', 'young', '3']

In [23]:
Vocab=[]
for item in flattened:
    if not item in Vocab:
        Vocab.append(item)
len(Vocab)

147