In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import gutenberg
from nltk.text import Text
from nltk import word_tokenize
import string
from urllib import request

In [2]:
nltk.download('gutenberg')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package gutenberg to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
url = "https://www.gutenberg.org/files/37959/37959-0.txt"
response = request.urlopen(url)
raw = response.read().decode('utf8')
tokens = word_tokenize(raw)
text = Text(tokens)

In [4]:
def con_text(word,text):
    a = text.concordance_list(word)
    a_f = " "
    
    for i in range(len(a)):
        a_f = a_f + a[i].line
    return a_f

In [5]:
my_dict ={"input_words": ["dog", "cat", "horse", "lion", "tiger", "elephant","sheep", "donkey","cow","rabbit"]+["sparrow", "cuckoo", "crow","eagle","vulture","parrot","chicken","pigeon","owl","ostrich"]
          }

In [6]:
df = pd.DataFrame.from_dict(my_dict)

In [7]:
df['input_con'] = df.input_words.apply(lambda x: con_text(x,text))

In [8]:
stopwords = nltk.corpus.stopwords.words('english')
remove_terms = string.punctuation + ',0123456789'

In [9]:
#defining the function to remove punctuation
def preprocess(text):
    punctuationfree="".join([i for i in text if i not in remove_terms])
    lower_case = punctuationfree.lower()
    no_stopwords = " ".join([i for i in lower_case.split() if i not in stopwords])
    tokenized = word_tokenize(no_stopwords)
    return tokenized

In [10]:
df["tokenized"] = df.input_con.apply(lambda x: preprocess(x))
df["corpus_processed"] = df.tokenized.apply(lambda z:' '.join(map(str, z)))

In [11]:
df

,input_words,input_con,tokenized,corpus_processed
0,dog,"2 A Narrow Escape , 83 Animals of the Dog Kin...","[narrow, escape, animals, dog, kind, wolf, fox...",narrow escape animals dog kind wolf fox arctic...
1,cat,"IA The Fissipedia , 43 Animals of the Cat Kin...","[ia, fissipedia, animals, cat, kind, lion, lio...",ia fissipedia animals cat kind lion lion c ser...
2,horse,"w , 162 ORDER VII HOOFED ANIMALS The Horse , ...","[w, order, vii, hoofed, animals, horse, arabia...",w order vii hoofed animals horse arabian horse...
3,lion,"43 Animals of the Cat Kind , 43 The Lion , 4...","[animals, cat, kind, lion, lion, character, at...",animals cat kind lion lion character atti cat ...
4,tiger,"ORFIELDS , LONDON . [ Illustration : Tiger Hu...","[orfields, london, illustration, tiger, huntin...",orfields london illustration tiger hunting pre...
5,elephant,"als and Music , 218 ORDER VIII THE ELEPHANT T...","[als, music, order, viii, elephant, elephant, ...",als music order viii elephant elephant wild el...
6,sheep,"ewfoundland under Training , 112 The Sheep Do...","[ewfoundland, training, sheep, dog, sheep, dog...",ewfoundland training sheep dog sheep dog sagac...
7,donkey,"ex coast , I had myself a very fine donkey , ...","[ex, coast, fine, donkey, remarkably, docile, ...",ex coast fine donkey remarkably docile andnigh...
8,cow,"ampus , 161 ORDER VI MANATIDÆ The Sea Cow , 1...","[ampus, order, vi, manatidæ, sea, cow, order, ...",ampus order vi manatidæ sea cow order vii hoof...
9,rabbit,"e , 243 Tame Hares , 244 The Common Rabbit , ...","[e, tame, hares, common, rabbit, order, xi, to...",e tame hares common rabbit order xi toothless ...
10,sparrow,und it occupied by a robust English sparrow ....,"[und, occupied, robust, english, sparrow, spar...",und occupied robust english sparrow sparrow de...
11,cuckoo,"dpecker , 284 The Wryneck , 284 The Cuckoo , ...","[dpecker, wryneck, cuckoo, cuckoo, hedgespar, ...",dpecker wryneck cuckoo cuckoo hedgespar wrynec...
12,crow,"Dog , 269 The Rook , 270 The Carrion Crow , 2...","[dog, rook, carrion, crow, jackdaw, chough, ou...",dog rook carrion crow jackdaw chough oubles cr...
13,eagle,"04 ORDER VII Birds of Prey , 304 The Eagle , ...","[order, vii, birds, prey, eagle, eagle, shooti...",order vii birds prey eagle eagle shooting whit...
14,vulture,The jackal may be considered as the vulture o...,"[jackal, may, considered, vulture, quadruped, ...",jackal may considered vulture quadruped kind p...
15,parrot,"rrots , 290 The Intelligence of the Parrot , ...","[rrots, intelligence, parrot, famous, parrots,...",rrots intelligence parrot famous parrots grey ...
16,chicken,"Tame Sea-Gull , 321 Mother Carey 's Chicken ,...","[tame, seagull, mother, carey, chicken, catchi...",tame seagull mother carey chicken catching sto...
17,pigeon,South-American birds . Resembling a pigeon in...,"[southamerican, birds, resembling, pigeon, siz...",southamerican birds resembling pigeon size hea...
18,owl,"lcon , 311 The Sparrow-Hawk , 312 The Owl , 3...","[lcon, sparrowhawk, owl, order, viii, wading, ...",lcon sparrowhawk owl order viii wading birds e...
19,ostrich,", 326 The Puffin , 327 ORDER X The Ostrich ,...","[puffin, order, x, ostrich, ostrich, young, or...",puffin order x ostrich ostrich young order x o...

In [12]:
flattened = []
for sublist in df.tokenized.values:
    for val in sublist:
        flattened.append(val)

In [13]:
Vocab=[]
for item in flattened:
    if not item in Vocab:
        Vocab.append(item)
len(Vocab)

1340

In [15]:
one_hot = pd.get_dummies(Vocab)
one_hot.head()

,aappeared,acage,accompanied,account,accustomed,acroally,across,act,acting,actions,...,wryneck,x,xi,xtraordinary,yards,year,yhound,young,younons,zaarensis
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0