In [97]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import gutenberg
from nltk.text import Text
from nltk import word_tokenize
import string
from urllib import request

In [98]:
nltk.download('gutenberg')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package gutenberg to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\RAM
[nltk_data]     KRISHNA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [61]:
url = "https://www.gutenberg.org/files/37959/37959-0.txt"
response = request.urlopen(url)
raw = response.read().decode('utf8')
tokens = word_tokenize(raw)
text = Text(tokens)

In [86]:
def con_text(word,text):
    a = text.concordance_list(word, lines = 1, width = 79)
    return a[0].line

In [87]:
my_dict ={"animal_words": ["dog", "cat", "horse", "lion", "tiger", "elephant","sheep", "donkey","cow","rabbit"],
          "bird_words": ["sparrow", "cuckoo", "crow","eagle","vulture","parrot","chicken","pigeon","owl","ostrich"]
          }

In [88]:
df = pd.DataFrame.from_dict(my_dict)

In [89]:
df['animal_con'] = df.animal_words.apply(lambda x: con_text(x,text))
df['birds_con'] = df.bird_words.apply(lambda x: con_text(x,text))

In [92]:
stopwords = nltk.corpus.stopwords.words('english')

In [99]:
#defining the function to remove punctuation
def preprocess(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    lower_case = punctuationfree.lower()
    no_stopwords = " ".join([i for i in lower_case.split() if i not in stopwords])
    return no_stopwords

In [104]:
df["animal_con_pro"] = df.animal_con.apply(lambda x: preprocess(x))
df["bird_con_pro"] = df.birds_con.apply(lambda x: preprocess(x))

In [105]:
df

,animal_words,bird_words,animal_con,birds_con,animal_con_pro,bird_con_pro
0,dog,sparrow,"2 A Narrow Escape , 83 Animals of the Dog Kind...",und it occupied by a robust English sparrow . ...,2 narrow escape 83 animals dog kind 84 wolf 84...,und occupied robust english sparrow sparrow de...
1,cat,cuckoo,"IA The Fissipedia , 43 Animals of the Cat Kind...","dpecker , 284 The Wryneck , 284 The Cuckoo , 2...",ia fissipedia 43 animals cat kind 43 lion 44 l...,dpecker 284 wryneck 284 cuckoo 284 cuckoo hedg...
2,horse,crow,"w , 162 ORDER VII HOOFED ANIMALS The Horse , 1...","Dog , 269 The Rook , 270 The Carrion Crow , 27...",w 162 order vii hoofed animals horse 162 arabi...,dog 269 rook 270 carrion crow 270 jackdaw 271 ...
3,lion,eagle,"43 Animals of the Cat Kind , 43 The Lion , 44...","04 ORDER VII Birds of Prey , 304 The Eagle , 3...",43 animals cat kind 43 lion 44 lion character ...,04 order vii birds prey 304 eagle 305 eagle sh...
4,tiger,vulture,"ORFIELDS , LONDON . [ Illustration : Tiger Hun...",The jackal may be considered as the vulture of...,orfields london illustration tiger hunting pre...,jackal may considered vulture quadruped kind pu
5,elephant,parrot,"als and Music , 218 ORDER VIII THE ELEPHANT Th...","rrots , 290 The Intelligence of the Parrot , 2...",als music 218 order viii elephant elephant 219...,rrots 290 intelligence parrot 290 famous parro...
6,sheep,chicken,"ewfoundland under Training , 112 The Sheep Dog...","Tame Sea-Gull , 321 Mother Carey 's Chicken , ...",ewfoundland training 112 sheep dog 114 sheep d...,tame seagull 321 mother carey chicken 322 catc...
7,donkey,pigeon,"ex coast , I had myself a very fine donkey , w...",South-American birds . Resembling a pigeon in ...,ex coast fine donkey remarkably docile,southamerican birds resembling pigeon size hea...
8,cow,owl,"ampus , 161 ORDER VI MANATIDÆ The Sea Cow , 16...","lcon , 311 The Sparrow-Hawk , 312 The Owl , 31...",ampus 161 order vi manatidæ sea cow 162 order ...,lcon 311 sparrowhawk 312 owl 313 order viii wa...
9,rabbit,ostrich,"e , 243 Tame Hares , 244 The Common Rabbit , 2...",", 326 The Puffin , 327 ORDER X The Ostrich , ...",e 243 tame hares 244 common rabbit 245 order x...,326 puffin 327 order x ostrich 328 ostrich you...